# Code base retrieved from https://www.axllent.org/docs/auto-mounting-usb-storage/

#KERNEL!="sd[a-z][0-9]", GOTO="media_by_label_auto_mount_end"
KERNEL!="s[a-z]*[0-9]", GOTO="media_by_label_auto_mount_end"
# Import FS infos  
IMPORT{program}="/usr/sbin/blkid -o udev -p %N" 
# Copy latency measurements to device
ACTION=="change", ENV{ID_FS_LABEL}!="", RUN+="/usr/bin/cp -r /home/$USER/Desktop/AudioLatencyMeasurement/measurements /media/$USER/%E{ID_FS_LABEL}"
ACTION=="change", ENV{ID_FS_LABEL}=="", RUN+="/usr/bin/cp -r /home/$USER/Desktop/AudioLatencyMeasurement/measurements /media/$USER/usbhd-%k"
# Delete ghost directories
ACTION=="remove", ENV{ID_FS_LABEL}!="", RUN+="/usr/bin/rm -r /media/$USER/%E{ID_FS_LABEL}"
ACTION=="remove", ENV{ID_FS_LABEL}=="", RUN+="/usr/bin/rm -r /media/$USER/usbhd-%k"
# Exit
LABEL="media_by_label_auto_mount_end"
