SUBSYSTEM!="sound", GOTO="my_usb_audio_end"
ACTION!="add", GOTO="my_usb_audio_end"

DEVPATH=="/devices/platform/scb/fe9c0000.xhci/usb1/1-1/1-1.1/*/sound/card?", ATTR{id}="usb_audio_top"
DEVPATH=="/devices/platform/scb/fe9c0000.xhci/usb1/1-1/1-1.2/*/sound/card?", ATTR{id}="usb_audio_bot"

LABEL="my_usb_audio_end"
